<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Full Story</title>
</head>
<body>
    <div class="container">
        <h1>Collaborative Story App</h1>
        <div class="story-box">
            {% for sentence in story %}
                <p>{{ sentence }}</p>
            {% endfor %}
        </div>
        <a href="/reset_story">Start a New Story</a>
    </div>
</body>
</html>